.xd-flex
{
    display: flex;
    flex-wrap: wrap;
}
.xd-flex-col-50
{
    width:50%;
}
.pd-100
{
    padding:100px 0px;
}
.pd-80
{
    padding:80px 0px;
}
.pd-60
{
    padding:60px 0px;
}
.pd-40
{
    padding:40px 0px;
}