@media screen and (max-width: 600px) {
    .pdmB-20
    {
        padding:20px !important;
    }
.xd-hamburger
{
    padding: 10px;
    cursor: pointer;
    pointer-events: all;
    float: right;
    line-height: 1.25;
}
.pos-ab 
{
    width: 50px !important;
    height: 40px !important;
}
.xd-logo-bar {
    font-size: 24px !important;
}
.xd-hamburger-i
{
    width: 20px;
    height: 2px;
    margin-top: 4px;
    border-radius: 1px;
    position: relative;
    display: block;
    vertical-align: middle;
}
.xd-hamburger-i::after, .xd-hamburger-i::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /* background-color: inherit; */
    background-color: #ffffff;
    transition: transform 250ms ease;
    -ms-transform-origin: 50% 1px;
    transform-origin: 50% 1px;
}
.xd-navbar-fixed .xd-hamburger-i::after, .xd-hamburger-i::before
{
    background-color: #000000;  
}

.xd-main-banner .overlay, .xd-main-banner
{
    height:400px !important;
}

.xd-mobile-hide
{
 display:none;
}

.xd-navbar
{
    padding:10px 20px;
    height:60px !important;
}
.xd-flex {
    display: block !important;

}
.xd-main-banner, .xd-features {
    padding: 40px 30px !important;
}
.xd-flex-col-50
{
    width:100% !important;
}
.xd-main-banner h1 {
    font-size: 26px !important;
    line-height: 38px !important;
    width:100% !important;
}
.xd-main-banner p {
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 24px !important;
}
.xd-signup form button {
    font-size: 13px !important;
    min-width: 160px !important;
}
.xd-signup form .input-container input
{
    font-size: 14px !important;
    max-width:160px !important;
}
.xd-home-banner-images {
    margin-top: 50px !important;
}
.slick-track
{
    height:100px;
}
.customer-logos {
    position: relative;
    max-width: 700px;
    height: 100px;
}
.xd-main-banner video, .xd-main-banner .overlay {
    height: 420px !important;
}

.xd-flex-col-40
{
    width:100% !important; 
}
.xd-flex-col-60
{
    width:100% !important;
}

.xd-feature-card, .xd-product-card
{
    margin-bottom:30px !important;
}

.xd-features h3 {
    font-size: 30px !important;
    line-height: 35px !important;
}

.xd-home-banner-images
{
    margin-top:0px;
}
.xd-products h3
{
    font-size:22px !important;
}
.xd-products h4 {
    font-size: 15px !important;
    line-height: 25px !important;
}
.xd-contact-fold
{
    padding:15px !important;
}
.xd-contact-fold h1 {
    font-size: 35px !important;
}
.xd-contact-form
{
    position: relative !important;
    width:100% !important;
    padding:10px !important;
    top:0 !important;
}
.row
{
    margin:0 !important;
    padding:0 !important;
}

.xd-contact-banner,.xd-contact-banner .overlay
{
    padding: 60px 0px 80px !important;
    height:300px !important;
}
.xd-contact-fold p {
    font-size: 16px !important;
    line-height: 26px !important;
}
.xd-contact-left
{
    min-height:300px !important;
}
.xd-contact-left ol li
{
    font-size: 16px !important;
}

}