/******
project: xendworks
owned by: xendworks private Ltd.
*****/




@import "fonts.css";
@import "media.css";
@import "predefined.css";
@import "animation.css";
/****main-navigation-bar***/
body
{
    background-color:#ffffff;
}
header{
    margin: 0;
    padding: 15px 0;
    z-index: 1000;
}
.xd-navbar
{
   background-color: transparent;
   position: fixed;
   width: 100%;
   height: 75px;
    border-bottom:none !important;
    top:0px;
    transition: .3s ease-in-out;
}
.xd-navbar-fixed
{
  
    box-shadow: 0 1px 5px 3px #2e32341a;
    background-color: #ffffff;
}
.xd-navbar-fixed .xd-logo-bar
{
    color:#243746 !important;
}
.xd-navbar-fixed .custom-arrow:after {
    content: '';
    border: 1.5px solid #24292e;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    transform: rotate(45deg);
    position: relative;
    left: 8px;
    top: -2px;
}
.xd-navbar-fixed .xd-navbar-right li a
{
    color:#243746;  
}
.xd-navbar-fixed .xd-logo-bar span
{
    color:#03C98D;
    margin-left:30px;
}
.xd-container
{
    width: 100%;
    max-width: 1250px;
    margin:0 auto;
}
.xd-video-promo
{
    max-width:800px;
    width:100%;
    border-radius:10px;
    box-shadow: 0 1px 1px 0 rgb(90 122 190 / 10%), 0 10px 20px 0 rgb(90 122 190 / 20%);
}
.xd-logo-bar
{
    font-family: 'GraphikWeb-Medium';
    color:#ffffff;
    font-size:28px;
    letter-spacing: 0.5px;
    text-decoration: none !important;
}
.xd-logo-bar:before
{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 7px;
    margin-left:3px;
    margin-right:0px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background: url(/assets/images/xd-logo.svg) 100%/contain no-repeat;

}
.xd-logo-bar span
{
    color:#22ffbd;
    margin-left:30px;
}
.xd-navbar-left, .xd-navbar-right
{
    padding:0px 20px;
    font-family: 'GraphikWeb-regular';
    color:#24292e ;
    font-size:16px;
}
.xd-navbar-right
{
    list-style-type: none;
    float:right;
    display:flex;

}
.xd-navbar-left{
    float:left;
    list-style-type: none;
    display: flex;
}
.xd-navbar-right li
{
    padding:10px 15px; 
    margin-right:10px;
    font-family: 'GraphikWeb-Medium';
}


.xd-navbar-left li a, .xd-navbar-right li a
{
    color:#ffffff;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0.2px;
    font-weight: 400;
    text-decoration: none;
    text-decoration: none !important;
}
.custom-arrow:after {
    content: '';
    border: 1.5px solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    transform: rotate(45deg);
    position: relative;
    left: 8px;
    top: -2px;
}
.dropdown:hover .dropdown-toggle.custom-arrow:after
{
    transform: rotate(225deg);
    top:0px;
   transition:0.2s;
}
.xd-navbar-left li a:hover,  .xd-navbar-right li a:hover
{
    color:#03C98D ;
    font-weight:600;
}
.xd-dropdown-content
{
    backface-visibility: hidden;
    background-color: #ffffff !important;
    border-bottom: .0625rem solid #dbd9d2;
    -webkit-box-shadow: 0 1px 5px 3px #2e32341a;
    box-shadow: 0 1px 5px 3px #2e32341a;
    content: "";
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 55px;
    min-width:250px;
    padding:10px;
    border-radius:4px;
    transform-origin: 50% 0;
    transition: transform .2s ease,opacity .2s ease;
    width: 100%;
    z-index: 0;
}
.xd-dropdown-content ul 
{
    list-style-type: none;
    padding:0;
    margin:0;
}
.xd-dropdown-content ul li 
{
    cursor: pointer;
    margin:0px;
    padding:10px 20px;  
}
.xd-dropdown-content ul li:hover 
{
    background-color:#03c98d;
    border-radius: 4px;
    transition: .2s ease-in-out;
    color:#ffffff;
} 
.xd-nav-logos
{
    max-width:25px;
    margin-right:10px;
}

.xd-navbar-right>li:hover .xd-dropdown-content
{
    visibility: visible;
    opacity: 1;
    transform: translatey(-10px) translateX(0);
}
.xd-category-head
{
font-size:20px;
padding:0px 0px 10px;
letter-spacing: 0.4px;
font-family: 'GraphikWeb-Bold';
line-height: 24px;
margin-bottom:10px;
border-bottom:0.5px dashed #03c98d;

cursor: pointer;
}
.xd-linker img {
    height: 45px;
    width: 45px;
    margin-top: -20px;
}
.xd-head-text {
    font-size: 16px;
    font-family: 'GraphikWeb-Medium';
    line-height: 20px;
    cursor: pointer;
}
.xd-head-text span
{
    font-family: 'GraphikWeb-Medium';
    letter-spacing: 0.2px;
}
.xd-tagline
{
    font-size: 12px;
    margin-top:5px;
    color:rgb(74, 74, 75);
    font-family: 'GraphikWeb-regular';
    cursor: pointer;

}
.xd-nav-card
{
    background-color:#ffffff;
    padding:15px; 
    min-height:100px;
    margin-top:20px;
    border: 1px solid transparent;
}
.xd-nav-card:hover
{

    box-shadow: 0 1px 1px 0 rgba(90,122,190,.1), 0 10px 20px 0 rgba(90,122,190,.2);
    border: 1px solid rgba(90,122,190,.08);
}


/****navbuttons****/
.xd-nav-signup
{
    padding: 10px 20px;
    color:#ffffff !important;
    background: #03c98d;
    font-size:15px !important;
    letter-spacing: 1px !important;
    border-radius:3px;
    font-family: 'GraphikWeb-Medium';
    text-transform: uppercase;
    border:2px solid #03c98d;
}

.xd-nav-signup:hover
{
    background: #04b983;
    border: 2px solid #04b983;
}
.icos
{
    margin-left:10px;
    font-size:25px;
}
/****navbar css ends********/



/****home-main-banner***/

.xd-main-banner
{
padding: 140px 0px 80px;
background-image: url("./assets/videos/xendworks-promo.mp4");
background-repeat: no-repeat;
background-size: cover;  
min-height:700px;
max-height:700px;
height:auto;
/* background: linear-gradient(to bottom, #EAF9F2 0%,#EDFAF3 50%,#ffffff 100%); */
}
.xd-main-banner .overlay
{
    position: absolute;
   left:0px;
   top:0;
    width:100%;
    height:700px;
    z-index: 1;
    background: rgba(3, 3, 3, 0.493);
    opacity: 0.5;
}
.xd-main-banner video 
{
   position: absolute;
   left:0px;
   top:0;
    width:100%;
    height:700px;
   object-fit: cover;
}
.xd-home-fold
{
    z-index:3;
    padding:10px;
    position: relative;
    margin:0 auto;
    color:#ffffff;
}
.xd-main-banner h1{
font-size:50px;
width:80%;
text-align: center;
display: flex;
margin:40px auto 10px;
flex-wrap: wrap;
line-height: 65px;
font-family: 'GraphikWeb-Semibold';
}
.xd-main-banner p
{
    font-size:20px;
    max-width:800px;
    width:100%;text-align: center;
    display: flex;
    margin:30px auto;
    flex-wrap: wrap;
    line-height: 30px;
    font-family: 'GraphikWeb-Regular';
}
.xd-home-banner-images
{
    margin-top: -50px;
    max-width:800px;
    width:100%;
}
.xd-get-started
{
    width:300px;
    padding:10px 20px;
    text-align: center;
    margin: 40px auto 0;
    background-color:#03c98d;
    font-size:20px;
    cursor: pointer;
    font-family: 'GraphikWeb-SemiBold';
}
.xd-get-started:after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20d%3D%22M13.025%201l-2.847%202.828%206.176%206.176h-16.354v3.992h16.354l-6.176%206.176%202.847%202.828%2010.975-11z%22%20fill%3D%22rgb(255%2C255%2C255)%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.xd-get-started:hover 
{
    box-shadow: 0 6px 30px -10px rgb(43 43 45 / 52%);
}

.xd-get-started:hover:after
{
    margin-left: 15px;
}





/******section 2*****/

.xd-products
{
    padding:50px 20px;
    min-height:100vh;
}


.xd-products h3 {
    font-family: 'GraphikWeb-SemiBold';
    color: #00000a;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}
.xd-products h4 {
    font-family: 'GraphikWeb-Regular';
    color: #242438;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    line-height: 32px;
}





/****cards ****/
.xd-products-desc
{
    padding-top:60px;
}

.xd-product-cards
{
    position: relative;
    margin: 20px;
    height:250px;
    padding: 40px 25px 30px;
    transition: transform 175ms ease-in,opacity 175ms ease-in,-webkit-transform 175ms ease-in;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(90,122,190,.1), 0 10px 20px 0 rgba(90,122,190,.2);
    border: 1px solid rgba(90,122,190,.08);
}


  .xd-product-cards:hover
  {
    transform: scale(1.05,1.05);
  }
.xd-product-logos
{
    max-width:70px;
    margin-bottom:10px;
    width:100%;
}

.xd-back-manage {
   border-bottom:5px solid #FFA102;
}

.xd-back-fleet
{
    border-bottom:5px solid #F5737F;
}
.xd-back-expense
{
    border-bottom:5px solid #00CEB4;
}
.xd-back-media {
    border-bottom:5px solid #0077B5;
 }
 

.xd-product-cards h3
{
    font-family: 'GraphikWeb-Medium';
    color: #03363d;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    line-height: 32px;  
}
.xd-product-cards p {
    font-family: 'GraphikWeb-Regular';
    color: #242438;
    font-size: 15px;
    padding-top:10px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 24px;
}



.xd-features
{
    margin-top:50px;
    position: relative;
    text-align: center;
    padding: 100px 0px;
    background-color: #f7f9fa;
}


.zp-float-soon
{
    position: absolute;
    top:0;
    right:0;
    padding:5px 10px;
    font-size:12px;
    background-color:#03c98d;
    color:#ffffff;
}

.xd-txt-carousel
{
    position: relative;
    width: 100%;
    height: 50px;
}
