/******
project: xendworks
owned by: xendworks private Ltd.
*****/




@import "fonts.css";
@import "media.css";
@import "predefined.css";
/****main-navigation-bar***/
header{
    margin: 0;
    padding: 15px 0;
    z-index: 1000;
}
.xd-navbar
{
    background-color: #ffffff;
    position: sticky;
    height: 65px;
    box-shadow: 0 4px 20px 0 rgba(49,67,81,.07);
    top:0px;
}
.xd-container
{
    width: 100%;
    max-width: 1250px;
    margin:0 auto;
}

.xd-logo-bar
{
    font-family: 'GraphikWeb-Medium';
    color:#243746 !important;
    font-size:28px;
    letter-spacing: 0.5px;
    text-decoration: none !important;
}
.xd-logo-bar:before
{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 7px;
    margin-left:3px;
    margin-right:0px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background: url(/assets/images/xd-logo.svg) 100%/contain no-repeat;

}
.xd-support
{
    color:#ff7272;
}
.xd-fleet
{
    color:#8572ff;
}
.xd-mail
{
    color:#72bfff;
}
.xd-media
{
    color:#03c98d;
}
.xd-logo-bar span
{
    color:#03c98d;
    margin-left:30px;
}
.xd-navbar-left, .xd-navbar-right
{
    padding:0px 20px;
    font-family: 'GraphikWeb-regular';
    color:#24292e ;
    font-size:16px;
}
.xd-navbar-right
{
    list-style-type: none;
    float:right;
    display:flex;

}
.xd-navbar-left{
    float:left;
    list-style-type: none;
    display: flex;
}
.xd-navbar-left li
{
    padding:10px 20px; 
    font-family: 'GraphikWeb-Medium';
}
.xd-navbar-right li
{
    padding:10px; 
    font-family: 'GraphikWeb-Medium';
}

.xd-navbar-left li a, .xd-navbar-right li a
{
    color:#24292e;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 400;
    text-decoration: none;
    text-decoration: none !important;
}
.custom-arrow:after {
    content: '';
    border: 1.5px solid #24292e;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    transform: rotate(45deg);
    position: relative;
    left: 8px;
    top: -2px;
}
.dropdown:hover .dropdown-toggle.custom-arrow:after
{
    transform: rotate(225deg);
    top:0px;
    border-color:#24292e;
   transition:0.2s;
}
.xd-navbar-left li a:hover
{
    color:#000000 !important;
    font-weight:600;
}

.xd-dropdown-content
{
    position: fixed;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all .8s ease;
    margin-top: 15px;
    border: 1px solid #f4f6f8;
    box-shadow: 0 5px 30px 0 rgba(147,161,176,.25);
    padding:30px;
    background: #fff;
    max-width: 900px;
}
.xd-navbar-left>li:hover .xd-dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;}
.xd-category-head
{
font-size:20px;
padding:0px 0px 10px;
letter-spacing: 0.4px;
font-family: 'GraphikWeb-Bold';
line-height: 24px;
margin-bottom:10px;
border-bottom:0.5px dashed #03c98d;

cursor: pointer;
}
.xd-linker img {
    height: 45px;
    width: 45px;
    margin-top: -20px;
}
.xd-head-text {
    font-size: 16px;
    font-family: 'GraphikWeb-Medium';
    line-height: 20px;
    cursor: pointer;
}
.xd-head-text span
{
    font-family: 'GraphikWeb-Medium';
    letter-spacing: 0.2px;
}
.xd-tagline
{
    font-size: 12px;
    margin-top:5px;
    color:rgb(74, 74, 75);
    font-family: 'GraphikWeb-regular';
    cursor: pointer;

}
.xd-nav-card
{
    background-color:#ffffff;
    padding:10px; 
    min-height:100px;
    border: 1px solid transparent;
}
.xd-nav-card:hover
{
    border: 1px solid #f4f6f8;
    background-color:#F5F8FF;
}


/****navbuttons****/
.xd-login
{
    padding: 8px 20px;
    color:#24292e !important;
    font-size:13px !important;
    text-transform: uppercase;
    font-family: 'GraphikWeb-Medium';
    letter-spacing: 0.5px;
    transition: all 0.2s;
    border:2px solid #03c98d;
}
.xd-login:hover{
    background: #03c98d;
    color:#ffffff !important;
}
.xd-nav-signup
{
    padding: 8px 20px;
    color:#ffffff !important;
    background: #03c98d;
    font-size:13px !important;
    letter-spacing: 0.3px;
    font-family: 'GraphikWeb-Medium';
    text-transform: uppercase;
    border:2px solid #03c98d;
}


/****navbar css ends********/



/****home-main-banner***/

.xd-main-banner
{
padding:100px 0px;
}
.xd-main-banner h1{
font-size:50px;
color:#1d2b36;
max-width:600px;
width:100%;
line-height: 70px;
font-family: 'GraphikWeb-Semibold';
}
.xd-main-banner p
{
    font-size:18px;
    color: rgba(106, 106, 106, 0.74);
    max-width:500px;
    width:100%;
    line-height: 30px;
    font-family: 'GraphikWeb-Regular';
}
.xd-home-banner-images
{
    max-width:800px;
    width:100%;
}
.ss-banner--home-page .xd-signup .email_signup {
    padding: 40px 0 8px;
}
.xd-signup form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    padding: 16px 0 8px;
}
.email_signup {
    position: relative;
}
container input, .ss_email_signup form button {
    height: 60px;
    line-height: 60px;
}
.xd-signup form .input-container input, .xd-signup form button {
    height: 48px;
    line-height: 48px;
}
.xd-signup form button {
    border-radius: 8px;
    background: #04BF74;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 180px;
    transition: all 0.3s;
    text-transform: uppercase;
    padding: 0 1em;
    border: 2px solid transparent;
}
.xd-signup form .input-container input {
    font-size: 16px;
    border: 2px solid #04BF74;
    border-right: none;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    width: auto;
    color: rgba(36, 41, 46, 0.8);
    font-weight: 400;
    font-family: 'GraphikWeb-Regular';
    max-width: 270px;
    padding: 0 12px;
}
/* Slider */

.slick-slide {
    margin:20px;
    width:90px !important;
    position: relative;
}
.slick-slide img
{
max-width:120px;
width:100%;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.customer-logos
{
    position: relative;
    max-width: 700px;
}
.slick-list:after,
.slick-list:before {
    content: '';
    width: 50px;
    height: 40px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 0;
}

.slick-list::before {
    margin-top: 18px;
    height: 80px;
    margin-left: 0px;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, #fff 0, rgba(255, 255, 255, 0) 100%) !important;
    background: -o-linear-gradient(left, #fff 0, rgba(255, 255, 255, 0) 100%) !important;
    background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.slick-list::after {
    right: 0;
    margin-top: 18px;
    margin-top: 0px;
    height: 80px;
    background: -webkit-gradient(linear, right top, left top, from(#fff), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(right, #fff 0, rgba(255, 255, 255, 0) 100%) !important;
    background: -o-linear-gradient(right, #fff 0, rgba(255, 255, 255, 0) 100%) !important;
    background: linear-gradient(270deg, #fff 0, rgba(255, 255, 255, 0) 100%);
}
